---
layout: page
title: "About me"
description: "Yeap, I am vsccw."
header-img: "img/about-bg.jpg"
---

<!-- Chinese Version -->
<div class="zh post-container">
    <blockquote>
        以前上学的时候经常思考，我是谁，我从哪里来，将到哪里去？这充满哲学的问题，让那个时候的我，无从下手。现在虽然还是懵懵懂懂，但是还是想试着回答这三个问题。
    </blockquote>
    <h2>我是谁？</h2>
    <p>
小学时我曾经幻想过自己是一名科学家、宇航员，中学时幻想过自己非常非常有钱，到了高中幻想过自己在清北校园里谈笑风声，到了大学才发现原来自己只适合做个安静的<b>程序员</b>,所以对于这个问题我是谁？我只能说，我是个程序员，不过除了是一名程序员，还是单身优质男青年(另附: 趋向正常)，还是陈奕迅歌迷，还是漫威超级英雄爱好者，最喜欢绿巨人，还是Linus torvalds的粉丝，还是肉食主义者..., 太多了，我怕我说完你们会没有耐心看下去了。。 <br /> 
不过，我最满意的还是程序员。尤其是每当解决了一个个问题时，激动喜悦的心情不言由衷。
    </p>
    <h2>
        我从哪里来？
    </h2>
    <p>
        在我是谁里面，我回答了我是一名程序员，那么我从哪里来呢？目前主要在做iOS开发相关的工作，所以对于这个问题，我可以回答成：从iOS开发来嘛？<br />
        现在居住在北京，不过不会长久居住在这里，老家仍有良田几亩，等到了写不动代码了可以回家照顾田地呢。<br />
        之前在西安上大学，不过感觉自己对于西安的了解还不如 <a href="https://y.qq.com/n/yqq/song/001mHjnK2EoeeF.html">"西安人的歌"</a>深呢。<br />
        老家在信阳，不过据说信阳不如毛尖有名，是真是假？<br />
    </p>
    <h2>
        将要到哪里去？
    </h2>
        <p>
            其实这个问题，我是很懵逼的。将来还是做程序员的，不过发展的方向可能不仅仅限于iOS开发了，近几年最是看到iOS开发没人要了，让我感到心慌，心慌让我感到提前步入老年了。哎。<br />
            最近其他的发展方向我还没想好，不过自己在深入iOS的同时，也在涉及更多的领域，后端开发，机器学习等。
        </p>

        <blockquote> 一名iOS开发小菜正在紧跟大佬们的步伐 </blockquote>
    <hr />

</div>

<!-- English Version -->
<div class="en post-container">
    <blockquote>
        Designer or Engineer, things in between.
    </blockquote>

    <p>
        Your work is going to fill a large part of your life, and the only way to be truly satisfied is to do what you believe is great work. And the only way to do great work is to love what you do. If you haven’t found it yet, keep looking. Don’t settle. As with all matters of the heart, you’ll know when you find it.
    </p>

    <p>
    If you want to live your life in a creative way, as an artist, you have to not look back too much. You have to be willing to take whatever you’ve done and whoever you were and throw them away.
    </p>

    <p style="text-align:right;">
    -- Steve Jobs
    </p>

</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    function onLanChange(index){
        if(index == 0){
            $zh.style.display = "block";
            $en.style.display = "none";
        }else{
            $en.style.display = "block";
            $zh.style.display = "none";
        }
    }
    onLanChange(0);
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- Duoshuo hacking -->
<input id="dsUser" type="hidden" value="{{site.duoshuo_username}}"  />

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = document.getElementById('dsUser').value;
    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
